<td>{{ delivery.id }}</td>
<td>{{ delivery.transfer.project.name }}</td>
<td>{{ delivery.transfer.fromUser.fullName }}</td>
<td>{{ delivery.transfer.toUser.fullName}}</td>
<td>{{ delivery.transfer.status }}</td>
<td>{{ delivery.transfer.id }}</td>
