<dl class="dl-horizontal">
  {{#detail-label-value label="From"}}{{transfer.fromUser.fullName}}{{/detail-label-value}}
  {{#detail-label-value label="To"}}{{transfer.toUsersNames}}{{/detail-label-value}}
  {{#unless brief}}
    {{#detail-label-value label="Status"}}{{format-delivery-state transfer.status}}{{/detail-label-value}}
    {{#if delivery.declineReason}}
      {{#detail-label-value label="Decline Reason"}}{{delivery.declineReason}}{{/detail-label-value}}
    {{/if}}
    {{#if delivery.performedBy}}
      {{#detail-label-value label="Performed By"}}{{delivery.performedBy}}{{/detail-label-value}}
    {{/if}}
    {{#if showEmail}}
      {{#detail-label-value label="Delivery Email"}}
        {{delivery-email delivery.deliveryEmailText}}
      {{/detail-label-value}}
    {{/if}}
    {{#if showProjectDetails}}
      <div class="project-details">
      {{#detail-label-value label="Project Size"}}
        {{duke-ds-project-size transfer.project}}
      {{/detail-label-value}}
      {{#detail-label-value label="View Project"}}
        {{duke-ds-project-link transfer.project}}
      {{/detail-label-value}}
      {{#detail-label-value label="Download Project"}}
        {{duke-ds-project-zip-download-link transfer.project}}
      {{/detail-label-value}}
      </div>
    {{/if}}
  {{/unless}}
  {{yield}}
</dl>
