<td>{{ delivery.id }}</td>
<td>{{ delivery.project.name }}</td>
<td>{{ delivery.fromUser.fullName }}</td>
<td>{{ delivery.toUser.fullName}}</td>
<td>{{ delivery.state }}</td>
<td>{{ delivery.transferId }}</td>
