<td>{{#link-to "deliveries.show" delivery}}{{delivery.id}}{{/link-to}}</td>
<td>{{ delivery.transfer.project.name }}</td>
<td>{{ delivery.transfer.fromUser.fullName }}</td>
<td>
  {{#each delivery.transfer.toUsers as |toUser|}}
    {{toUser.fullName}}
  {{/each}}
</td><td>{{#each delivery.shareUsers as |shareUser|}}
    {{shareUser.fullName}}
{{/each}}</td>
<td>{{ delivery.transfer.status }}</td>
