<form class="form-horizontal" onsubmit="return false;">
  <fieldset>
    <legend>{{labelText}}</legend>
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <label class="col-md-6 control-label">
            Search By
          </label>
          <div class="col-md-6">
            {{#each kinds as |k|}}
              <div class="radio">
                <label class="mode">
                  {{radio-button value=k checked=kind class=k.mode}}
                  {{k.name}}
                </label>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <Input
          class="form-control query-field"
          @id="query-field"
          @type="text"
          @enter={{ this.search }}
          @value={{ this.query }}
          placeholder={{ kind.placeholder }}
        />
      </div>
      <div class="col-md-1">
        <button class="btn btn-info" type="button" {{on "click" this.search}}>Search</button>
      </div>
    </div>
  </fieldset>
</form>
