<div class="form-group">
  <label class="control-label">Email Templates</label>
  <select class="form-control" onchange={{action 'onChange' value='target.value'}}>
    {{#each emailTemplateSets as |emailTemplateSet|}}
        <option value={{emailTemplateSet.id}} selected={{eq value.id emailTemplateSet.id}}>{{emailTemplateSet.name}}</option>
    {{/each}}
  </select>
</div>

{{yield}}