<ul>
  <li>Selected Project: {{model.project.name}}</li>
  <li>to : {{ model.toUser.fullName }}</li>
  <li>from {{ model.fromUser.fullName }}</li>
  <li>transfer: {{ model.transfer.id }}</li>
</ul>

{{outlet}}
