<h4>
  Click <strong>Next</strong> to preview the email to be sent to {{toUser.fullName}}.
</h4>
<p class="body">
  As part of this delivery an email will be generated from a template and include a link for the recipient to accept or decline the delivery.
  If you wish to add or edit a custom message (e.g. details about this specific delivery), please enter those notes in the
  <strong>User Message</strong> area.

</p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Project: {{project.name}} </h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      {{#detail-label-value label="From"}}{{fromUser.fullName}}{{/detail-label-value}}
      {{#detail-label-value label="To"}}{{toUser.fullName}}{{/detail-label-value}}
      {{#each shareUsers as |shareUser index|}}
        {{#if index}}
          {{#detail-label-value label=""}}{{shareUser.fullName}}{{/detail-label-value}}
        {{else}}
          {{#detail-label-value label="Shared With"}}{{shareUser.fullName}}{{/detail-label-value}}
        {{/if}}
      {{/each}}
        <dt>User Message<br />(optional)</dt><dd>{{user-message-textarea value=userMessage readonly=false}}</dd>
    </dl>
  </div>
</div>

{{error-message-alert errorMessages}}

{{#link-to backRoute class='btn btn-default'}}Back{{/link-to}}
{{#link-to nextRoute class='btn btn-primary pull-right' disabled=disableNext}}Next{{/link-to}}

{{outlet}}
