{{delivery-breadcrumbs selectedRouteName="deliveries.new"}}
<h1>New Delivery</h1>
<h4>Select a project to deliver to another user.</h4>
<p class="body">
  This will transfer ownership of the project to another user.
  Once the recipient accepts the delivery you will retain read-only permissions.
</p>

{{error-message-alert errorMessages}}

{{#bs-alert
  visible=showUserMissingPrivilegesError
  type="danger"
  dismissible=false
}}
  You do not have admin privileges for project <strong>{{project.name}}</strong>. Please select another project.
{{/bs-alert}}

You have {{ model.length }} projects
{{duke-ds-project-list model selectionChanged=(action 'projectSelectionChanged')}}

{{#link-to backRoute class='btn btn-default'}}Back{{/link-to}}
{{#link-to nextRoute class='btn btn-primary pull-right' disabled=disableNext}}Next{{/link-to}}

{{outlet}}
