{{delivery-breadcrumbs selectedRouteName="deliveries.show" transfer=model}}

{{#if infoMessage}}
  {{#bs-alert type="success"}}
    {{infoMessage}}
  {{/bs-alert}}
{{/if}}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Project: {{model.project.name}} </h3>
  </div>
  <div class="panel-body">
    {{delivery-detail model}}
  </div>
</div>

{{delivery-button-panel transfer=model showPendingActions=canResend}}